.hours {
  position: absolute;
  width: 30px;
  padding-bottom: 200px;
  left: 50%;
  margin: 0 auto;
  z-index: 1; }

.minutes {
  padding-bottom: 200px;
  margin: 0 auto;
  z-index: 2;
  position: absolute;
  left: 50%;
  width: 10px; }

.seconds {
  padding-bottom: 200px;
  margin: 0 auto;
  z-index: 3;
  position: absolute;
  left: 50%;
  width: 2px; }

.hours .no-color-pointer-fill {
  height: 50px; }

.hours .color-pointer {
  background-color: #333;
  height: 150px;
  border-radius: 30px; }

.minutes .color-pointer {
  background-color: #333;
  height: 200px;
  border-radius: 10px; }

.seconds .color-pointer {
  background-color: #F00;
  height: 200px;
  border-radius: 10px; }

.analog {
  background: white;
  border: 3px solid #333;
  border-radius: 100%;
  height: 400px;
  margin: 100px auto 10px;
  width: 400px; }

.state-0 {
  transform: rotate(0deg) translate(-50%, 0); }

.state-1 {
  transform: rotate(6deg) translate(-50%, 0); }

.state-2 {
  transform: rotate(12deg) translate(-50%, 0); }

.state-3 {
  transform: rotate(18deg) translate(-50%, 0); }

.state-4 {
  transform: rotate(24deg) translate(-50%, 0); }

.state-5 {
  transform: rotate(30deg) translate(-50%, 0); }

.state-6 {
  transform: rotate(36deg) translate(-50%, 0); }

.state-7 {
  transform: rotate(42deg) translate(-50%, 0); }

.state-8 {
  transform: rotate(48deg) translate(-50%, 0); }

.state-9 {
  transform: rotate(54deg) translate(-50%, 0); }

.state-10 {
  transform: rotate(60deg) translate(-50%, 0); }

.state-11 {
  transform: rotate(66deg) translate(-50%, 0); }

.state-12 {
  transform: rotate(72deg) translate(-50%, 0); }

.state-13 {
  transform: rotate(78deg) translate(-50%, 0); }

.state-14 {
  transform: rotate(84deg) translate(-50%, 0); }

.state-15 {
  transform: rotate(90deg) translate(-50%, 0); }

.state-16 {
  transform: rotate(96deg) translate(-50%, 0); }

.state-17 {
  transform: rotate(102deg) translate(-50%, 0); }

.state-18 {
  transform: rotate(108deg) translate(-50%, 0); }

.state-19 {
  transform: rotate(114deg) translate(-50%, 0); }

.state-20 {
  transform: rotate(120deg) translate(-50%, 0); }

.state-21 {
  transform: rotate(126deg) translate(-50%, 0); }

.state-22 {
  transform: rotate(132deg) translate(-50%, 0); }

.state-23 {
  transform: rotate(138deg) translate(-50%, 0); }

.state-24 {
  transform: rotate(144deg) translate(-50%, 0); }

.state-25 {
  transform: rotate(150deg) translate(-50%, 0); }

.state-26 {
  transform: rotate(156deg) translate(-50%, 0); }

.state-27 {
  transform: rotate(162deg) translate(-50%, 0); }

.state-28 {
  transform: rotate(168deg) translate(-50%, 0); }

.state-29 {
  transform: rotate(174deg) translate(-50%, 0); }

.state-30 {
  transform: rotate(180deg) translate(-50%, 0); }

.state-31 {
  transform: rotate(186deg) translate(-50%, 0); }

.state-32 {
  transform: rotate(192deg) translate(-50%, 0); }

.state-33 {
  transform: rotate(198deg) translate(-50%, 0); }

.state-34 {
  transform: rotate(204deg) translate(-50%, 0); }

.state-35 {
  transform: rotate(210deg) translate(-50%, 0); }

.state-36 {
  transform: rotate(216deg) translate(-50%, 0); }

.state-37 {
  transform: rotate(222deg) translate(-50%, 0); }

.state-38 {
  transform: rotate(228deg) translate(-50%, 0); }

.state-39 {
  transform: rotate(234deg) translate(-50%, 0); }

.state-40 {
  transform: rotate(240deg) translate(-50%, 0); }

.state-41 {
  transform: rotate(246deg) translate(-50%, 0); }

.state-42 {
  transform: rotate(252deg) translate(-50%, 0); }

.state-43 {
  transform: rotate(258deg) translate(-50%, 0); }

.state-44 {
  transform: rotate(264deg) translate(-50%, 0); }

.state-45 {
  transform: rotate(270deg) translate(-50%, 0); }

.state-46 {
  transform: rotate(276deg) translate(-50%, 0); }

.state-47 {
  transform: rotate(282deg) translate(-50%, 0); }

.state-48 {
  transform: rotate(288deg) translate(-50%, 0); }

.state-49 {
  transform: rotate(294deg) translate(-50%, 0); }

.state-50 {
  transform: rotate(300deg) translate(-50%, 0); }

.state-51 {
  transform: rotate(306deg) translate(-50%, 0); }

.state-52 {
  transform: rotate(312deg) translate(-50%, 0); }

.state-53 {
  transform: rotate(318deg) translate(-50%, 0); }

.state-54 {
  transform: rotate(324deg) translate(-50%, 0); }

.state-55 {
  transform: rotate(330deg) translate(-50%, 0); }

.state-56 {
  transform: rotate(336deg) translate(-50%, 0); }

.state-57 {
  transform: rotate(342deg) translate(-50%, 0); }

.state-58 {
  transform: rotate(348deg) translate(-50%, 0); }

.state-59 {
  transform: rotate(354deg) translate(-50%, 0); }
